<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title>获取单选按钮选中的值</title>
</hey>
<script>
               $(function ()
               {
                   $("#wizard").steps({
                       headerTag: "h2",
                       bodyTag: "section",
                       transitionEffect: "slideLeft",
                       stepsOrientation: "vertical"
                   });
               });
           </script>

           <div id="wizard">
               <h2>First Step</h2>
               <section>
                   <p>第一步</p>
               </section>

               <h2>Second Step</h2>
               <section>
                   <p>第二步</p>
               </section>

               <h2>Third Step</h2>
               <section>
                   <p>第三部</p>
               </section>

               <h2>Forth Step</h2>
               <section>
                   <p>第四部</p>
               </section>
           </div>
</y>
</html>